.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #ff8147, #ff6300);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 10;
  
    .nav-icons {
      display: flex;
      justify-content: space-around;
      padding: 1rem;
  
      ion-icon {
        font-size: 1.5rem;
        color: white;
  
        &.center-icon {
          background: white;
          border-radius: 50%;
          color: #ff6300;
          font-size: 2rem;
          padding: 0.5rem;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          transform: translateY(-20%);
        }


      }
    }

   
  }

